{% extends 'base.html' %}
{% load custom_tag %}
{% load ratings %}

{% block content %}
    <div>
        <ul class="list">
        {% if topic_papers %}
            {% for p in topic_papers %}
                <a class="container" href="{% url 'paper details' p.id %}">
                    <p><i>Topic:</i> {{ p.topic }}</p>
                    <p><i>Written by:</i> {{ p.created_by }} <i>on</i> {{ p.publication_date }}</p>
                    <p><i>Description:</i> {{ p.description|show_less }}</p>
                    {% ratings p %}
                </a>
            {% endfor %}
        {% else %}
            <h1 align="center">
                <p>There are no papers about <u>{{ topic }}</u> yet, but hey you can write the first one.</p>
            </h1>
            <h2 align="center">
                <a href="{% url 'paper create' %}">Add paper</a>
            </h2>
        {% endif %}
        </ul>
    </div>
{% endblock %}
