{% load static %}
{% load custom_tag %}
{% load ratings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Scholar System</title>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/styling.css" %}"/>
</head>
<body>
<div id="box">
    <header>
        <nav>
            <img src="{% static "images/avatar_scholar_256.png" %}" alt="scholar">
            <a href="{% url 'home page' %}">HOME</a>
            <a href="{% url 'all topics' %}">TOPICS</a>
            <a href="{% url 'all papers' %}">PAPERS</a>
            {% if request.user.is_authenticated or request.user.is_staff %}
            <form class="search" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <label>
                    <input type="text" placeholder="Search..." name="searched">
                </label>
                <button>Search</button>
            </form>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'papers user' %}">MY PAPERS</a>
            {% endif %}
            <ul>
                {% if user.is_staff %}
                    <a href="{% url 'topic add' %}">Add Topic</a>
                    <a href="{% url 'seminar create' %}">Add seminar</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'paper create' %}">Add paper</a></li>
                    <li><a href="{% url 'user details' request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'user logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'user register' %}">Sign Up</a></li>
                    <li><a href="{% url 'user login' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <ul class="list">
            {% for p in user_papers %}
                <a class="review-card container" href="{% url 'paper details' p.id %}">
                    <p>Topic: {{ p.topic }}</p>
                    <p>Written by: {{ p.created_by }}</p>
                    <p>Description: {{ p.description|show_less }}</p>
                    {% ratings p %}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
