{% extends 'base.html' %}
{% load custom_tag %}
{% load ratings %}

{% block content %}
    <div>
        <ul class="list">
        {% if user_papers %}
            {% for p in user_papers %}
                <a class="container" href="{% url 'paper details' p.id %}">
                    <p><i>Topic:</i> {{ p.topic }}</p>
                    <p><i>Written by:</i> {{ p.created_by }} <i>on</i> {{ p.publication_date }}</p>
                    <p><i>Description:</i> {{ p.description|show_less }}</p>
                    {% ratings p %}
                </a>
            {% endfor %}
        {% else %}
            <h2><i>You can add your</i> <a href="{% url 'paper create' %}">paper</a> <i>now.</i></h2>
        {% endif %}
        </ul>
    </div>
{% endblock %}
