body {
    background-image: url('/static/images/scholar2.png');
    background-size: 105%;
}

nav, footer {
    background-color: #0B0C10;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 3px;
    margin: 0;
    color: white;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
}

nav a:hover {
    cursor: pointer;
    color: #71A1F8;
    font-weight: bolder;
}

nav > img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

form:not(.search){
    background-color: #FFE999;
    /*height: 500px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form:not(.search) label, p {
    background-color: #FFE999;
    font-size: 30px;
    text-align: center;
    margin: 6px;
}

p {
    color: darkslategray;
}

form:not(.search) input,
textarea, select {
    padding: 7px;
    border: 7px solid #71A1F8;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 50%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    background-color: #71A1F8;
    border: none;
    color: white;
    width: 30%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 25px auto;
    cursor: pointer;
}

.div-form {
    width: 85%;
    padding: 15px;
    background-position: right 40% bottom 50%;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 10px;
    opacity: 97%;
    flex: content;
    margin-left: 130px;
    float: left;
    position: fixed;
}

.container {
    width: 85%;
    padding: 15px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 20px;
    background-color: #CFE2FC;
    opacity: 97%;
    flex: content;
    margin-left: 120px;
    float: left;
}

.container {
    position: relative;
}

.container:hover {
    transform: scale(1.02);
}
