{% extends 'base.html' %}

{% block content %}
    <div>
        <ul class="list">
            {% for s in seminar_list %}
                <p>{{ s.theme }}</p>
                <p>{{ s.date }}</p>
                <p>{{ s.time }}</p>
                <p>{{ s.link }}</p>
                {% if user.is_staff %}
                    <a class="button" href="{% url 'seminar details' s.id %}">Details</a>
                    <a class="button" href="{% url 'seminar edit' s.id %}">Edit</a>
                    <a class="button" href="{% url 'seminar delete' s.id %}">Delete</a>
                {% endif %}
            {% endfor %}
        <br>
        </ul>
    </div>
{% endblock %}
