{% extends 'base.html' %}

{% block content %}
    <div class="paginator">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <ul class="list">
            {% for s in page_obj.object_list %}
                <div class="container">
                <p>{{ s.theme }}</p>
                <p>{{ s.date }}</p>
                <p>{{ s.time }}</p>
                <p><a href="{{ s.link }}">Visit</a></p>
                <p><i>Days remaining: </i><strong>{{ s.days_till }}</strong></p>
                <br>
                {% if user.is_staff %}
                    <button><a href="{% url 'seminar details' s.id %}">Details</a></button>
                    <button><a href="{% url 'seminar edit' s.id %}">Edit</a></button>
                    <button><a href="{% url 'seminar delete' s.id %}">Delete</a></button>
                {% else %}
                    <button><a href="{% url 'seminar details' s.id %}">Details</a></button>
                {% endif %}
                </div>
            {% empty %}
                <h1 align="center">
                    <p>There are no likely seminars for now.</p>
                </h1>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
