{% load static %}
{% load custom_tag %}
{% load ratings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholar System</title>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/styling.css" %}"/>
</head>
<body>
<div id="box">
    <header>
        <nav>
            <img src="{% static "images/avatar_scholar_256.png" %}" alt="scholar">
            <a href="{% url 'home page' %}">HOME</a>
            <a href="{% url 'all topics' %}">TOPICS</a>
            <a href="{% url 'all papers' %}">PAPERS</a>
            {% if request.user.is_authenticated or request.user.is_staff %}
            <form class="search" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <label>
                    <input type="text" placeholder="Search..." name="searched">
                </label>
                <button>Search</button>
            </form>
            {% endif %}
            <ul>
                {% if user.is_staff %}
                    <a href="{% url 'topic add' %}">Add Topic</a>
                    <a href="{% url 'seminar create' %}">Add seminar</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'paper create' %}">Add paper</a></li>
                    <li><a href="{% url 'user details' request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'user logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'user register' %}">Sign Up</a></li>
                    <li><a href="{% url 'user login' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <ul class="list">
            {% for element in page_obj.object_list %}
                {% if request.user.is_authenticated or request.user.is_staff %}
                    <a class="container" href="{% url 'paper details' element.id %}">
                {% else %}
                    <a class="container" href="{% url 'home page' %}">
                {% endif %}
                    <p><i>Topic:</i> {{ element.topic }}</p>
                    <p><i>Written by:</i> {{ element.created_by }} <i>on</i> {{ element.publication_date }}</p>
                    <p><i>Description:</i> {{ element.description|show_less }}</p>
                    {% ratings element %}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
