{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Scholar System</title>
    <link rel="stylesheet" href="{% static "css/styling.css" %}"/>
</head>
<body>
<div id="box">
    <header>
        <nav>
            <img src="{% static "images/avatar_scholar_256.png" %}" alt="scholar">
            <a href="{% url 'home page' %}">HOME</a><ul></ul>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'user details' request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'user logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'user register' %}">Sign Up</a></li>
                    <li><a href="{% url 'user login' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div>
            scholar system &#9997;
        </div>
    </footer>
</div>
</body>
</html>
