{% extends 'base.html' %}

{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="text-white-50 mx-auto mt-2 mb-5">Not a Club - A Community</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        <i>Join us today and let's make studying easier!</i><a href="{% url 'user register' %}"> Sign Up</a>
                    </h2>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
