{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1><p>WELCOME to our Community.</p></h1>
    {% if not user.is_authenticated %}
        <h2 align="center">
            <i>If you want to be able to read the papers you will have to </i>
            <a href="{% url 'user register' %}"> Sign Up</a>
        </h2>
    {% elif user.is_authenticated and not user.is_superuser %}
        <h2 align="center">
            <i>We hope you'll have a great experience here.</i>
        </h2>
    {% elif user.is_authenticated and user.is_superuser %}
        <h2 align="center">
            <i>Hello, SETTING UP time.</i>
        </h2>
    {% endif %}
{% endblock %}
