{% extends 'base.html' %}
{% load custom_tag %}
{% load ratings %}

{% block content %}
{% if searched %}
    <h1 align="center">
        <p><i>YOU searched for <u>{{ searched }}.</u></i></p>
    </h1>
    {% if paper %}
        {% for p in paper %}
            <a class="container" href="{% url 'paper details' p.id %}">
            <p>Topic: {{ p.topic }}</p>
            <p>Written by: {{ p.created_by }}</p>
            <p>Description: {{ p.description|show_less }}</p>
                {% ratings p %}
            <br>
            </a>
        {% endfor %}
    {% else %}
        <h1 align="center">
            <p>SORRY, no papers matched your search.</p>
        </h1>
    {% endif %}
{% else %}
    <h1 align="center">
        <p>PLEASE enter at least one symbol to perform a search.</p>
    </h1>
{% endif %}
{% endblock %}
