{% extends 'base.html' %}

{% block content %}
    <div class="div">
            <p><i>First Name:</i> <strong>{{ object.first_name }}</strong></p>
            <p><i>Last Name:</i> <strong>{{ object.last_name }}</strong></p>
            <p><i>Email:</i> <strong>{{ object.user.email }}</strong></p>
            <p><i>Age:</i> <strong>{{ object.age }}</strong></p>
        <div>
            <a href="{% url 'user edit' object.user.id %}">
                <button class="button">Edit</button>
            </a>
            <a class="anchor" href="{% url 'user delete' object.user.id %}">
                <button class="button">Delete</button>
            </a>
            <a class="anchor" href="{% url 'change password' object.user.id %}">
                <button class="button">Change Password</button>
            </a>
        </div>
    </div>
{% endblock %}
