{% extends 'base.html' %}

{% block content %}
    <div class="div-form">
        <form method="POST" action="{% url 'user register' %}">
            {% csrf_token %}
            <label>Username:</label>{{ form.username }}
            {{ form.username.errors }}
            <label>Email:</label>{{ form.email }}
            {{ form.email.errors }}
            <label>Age:</label>{{ form.age }}
            {{ form.age.errors }}
            <label>First Name:</label>{{ form.first_name }}
            {{ form.first_name.errors }}
            <label>Last Name:</label>{{ form.last_name }}
            {{ form.last_name.errors }}
            <label>Password:</label>{{ form.password1 }}
            {{ form.password1.errors }}
            <label>Confirm Password:</label>{{ form.password2 }}
            {{ form.password2.errors }}
            <button class="button">Save</button>
        </form>
    </div>
{% endblock %}
